<div class="card h-100 shadow-sm">
    <div class="card-header text-white" style="background-color: #578EE2;">
        <h3 class="m-0 h5">{{ title }}</h3>
    </div>
    <div class="card-body"
        cdkDropList
        [cdkDropListData]="tasks()"
        (cdkDropListDropped)="drop($event)"
        style="background-color: #F3E8E8;">

        @for (t of tasks(); track t.id) {
            <app-canban-card
                [task]="t" 
                (cardClicked)="handleEdit($event)"
                class="mb-2 d-block"/>       
        } @empty {
            <div class="text-center p-3 text-muted border rounded border-dashed">
                    No tasks here yet.
            </div>
        }        
    </div>
</div>  