<div class="card" cdkDrag (click)="onCardClick()" style="cursor: pointer;">
    <div class="card-header d-flex flex-row justify-content-between rounded-top-2"
        [class.bg-todo]="task().type === 'Todo'"
        [class.bg-in-process]="task().type === 'In process'"
        [class.bg-done]="task().type === 'Done'">
        <span class="fw-bold mx-auto text-white">
            {{ task().name }}
        </span>
        <div class="inline-block rounded-circle priority-dot"
            [class.bg-low]="task().priority === 'Low'"
            [class.bg-medium]="task().priority === 'Medium'"
            [class.bg-high]="task().priority === 'High'">
        </div>
    </div>
    <div class="card-body d-flex flex-column rounded-2" style="background-color: #E4D8D8;">
        <span class="text-black">Assigned To: {{ task().assignedTo?.email || 'Nobody' }}</span>
        <ul>
            @for (attachment of task().attachments || []; track (attachment.id || attachment.name)) {
                <li>{{ (attachment.fileName || attachment.name) }}</li>
            } @empty {
                <li>There are no attachments yet.</li>
            }
        </ul>
        <p class="text-center p-2 text-black">
            {{ task().description }}
        </p>
    </div>
</div>
